pandas
numpy
catboost
ta
requests
sqlalchemy
pymysql
joblib
transformers 
torch
tensorflow 
imblearn 
scikit-learn
 
#python smart_trader.py --train_base
#python smart_trader.py --backtest
#python smart_trader.py
